<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest | Sign-Up</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <div class="css-selector">
      <div class="container">
        <div class="content">
          <!-- Pinterest logo -->
          <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
          <p class="header">Make account to see more</p>
          <form id="loginOrRegisterForm" method="post" action="/register">
            <input name="email" type="email" placeholder="Email" class="detail" /><br />
            <input name="fullName" type="text" placeholder="Full name" class="detail" /><br />
            <input name="username" type="text" placeholder="Username" class="detail" /><br />
            <input name="password" type="password" placeholder="Password" class="detail" /><br />
            <input type="submit" class="btn int" value="Register Account" onclick="changeAction('/register')" />
            <div>Or</div>
            <a type="button" class="" href="/login">Already have account? Log in</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
